<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MARZ</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape me up johnny</a></p>
  <div class="container text-center">
    <h1 class="jumbotron">Mission in Mars</h1>
    <div>
      <ul style="list-style: none;">
        <li>this is filler text</li>
        <li>-----------------------</li>
        <li>{{ data.Hemispheres }}</li>
        <li>-----------------------</li>
        <li>{{ data.Articles }}</li>
        <li>-----------------------</li>
        <li>{{ data.FeaturedImage }}</li>
        <li>-----------------------</li>
        <li>{{ data.Facts }}</li>
        <li><img src={{ data.FeaturedImage }}></li>
      </ul>
    </div>
  </div>
</body>

</html>